.container-list-last-events{
    padding: 70px 0;
    background: #000;

    .container-bg{
        background: #000;
    }

    .header{
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
        font-weight: 200;
        font-size: 3.125rem;
        text-transform: uppercase;
    }
}